<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Ångra ISBN</title>
</head>
<body>
    <div class="App container text-center">
        <form onSubmit="return confirm('Är du säker att du vill markera ISBN som ej använd?')" action="/undo" method="POST">
            <div class="form-group mt-5 col-5 m-auto">
                <label for="isbn">Skriv in ISBN som du vill nollställa:</label>
                <input class="form-control" type="text" id="isbn" name="isbn" required />
            </div>
            <br />
            <button class="btn btn-primary" type="submit">Markera som ej använd</button>
            <p class=<%= isbn ? "" : "d-none" %>><%= isbn %> har nu markerats som ej använd</p>
            <p class=<%= message ? "" : "d-none" %>><%= message %></p>
        </form>
        <br />
        <a href="/">Gå tillbaka till generatorn</a>
    </div>
</body>
</html>